#window {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(24, 24, 24, 0.85);
}

#input {
  padding: 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 18px;
  border-radius: 8px 8px 0 0;
  background-color: rgba(20, 20, 20, 0.9);
}

#inner-box {
  padding: 8px;
}

#entry {
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 15px;
}

#img {
  margin-right: 8px;
}
