#window {
  border-radius: 8px;
  border: 2px solid rgba(63, 63, 63, 1.0);
  background-color: rgba(25, 25, 25, 0.85);
}

#input {
  padding: 12px 12px;
  border: 2px solid rgba(63, 63, 63, 1.0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 18px;
  border-radius: 8px 8px 0 0;
  background-color: rgba(25, 25, 25, 0.9);
  outline: none;
  box-shadow: none;
}

#inner-box {
  padding: 8px;
}

#entry {
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 15px;
}

#img {
  margin-right: 8px;
}
