#window {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(240, 240, 240, 0.85);
}

#input {
  padding: 12px 12px;
  border: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  border-radius: 8px 8px 0 0;
  background-color: rgba(235, 235, 235, 0.9);
  color: #222;
  outline: none;
  box-shadow: none;
}

#inner-box {
  padding: 8px;
}

#entry {
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 15px;
  color: #222;
}

#img {
  margin-right: 8px;
}
