* {
  border: none;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
}

.modules-center {
  background-color: rgba(24,24,24,0.7);
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 16px;
  padding: 0px 12px 0px 16px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  padding: 6px 6px;
  margin: 6px 3px;
  border-radius: 4px;
  opacity: 0.6;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #fff;
}

#workspaces button.urgent {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e1e;
  background-color: rgba(255,0,0,1.0);
}

.modules-right {
  margin-right: 3px;
}

#memory, #cpu, #custom-power, #battery, #backlight, #pulseaudio, #network, #bluetooth, #clock, #tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #fff;
  opacity: 0.6;
}

#tray {
  opacity: 0.7;
}

#network, #pulseaudio, #bluetooth {
  min-width: 14px;
}

#bluetooth {
  padding-left: 9px;
  padding-right: 9px;
}

#network, #pulseaudio {
  padding-left: 6px;
}

#cpu, #memory {
  min-width: 50px;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding: 0px 6px;
  margin: 0px 3px;
  font-size: 15px;
  color: #1793d1;
}

@keyframes blink {
  to {
    color: #f38ba8;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #ff0048;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  color: #a6e3a1;
}

tooltip {
	border-radius: 8px;
	padding: 10px 15px;
	background-color: #131822;
}
