theme "tokyo-night"
default_layout "compact"
on_force_close "quit"
copy_command "pbcopy"

keybinds {
	shared_except "session" "locked" {
		unbind "Ctrl o" // free up for nvim's "go back"
	}

	tmux {
    bind "w" {
      LaunchOrFocusPlugin "session-manager" {
          floating true
          move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
  }
}

pane_frames false
